<section class="bookshelf-layout">
    <form class="flex flex-row items-center justify-center" (submit)="searchBooks(); $event.preventDefault()">
        <input class="search-input" type="text" [value]="searchTerm()"
            (input)="searchTerm.set($any($event.target).value)" placeholder="Search for a book..." />
        <button class="border border-amber-200 px-2" type="submit">Search</button>
    </form>

    <div class="books-container mt-5">
        @if (loading()) {
        <p>Loading books...</p>
        } @else if (books().length === 0) {
        <p class="text-center text-gray-500">No books found</p>
        } @else {
        <div class="books-list">
            @for (book of books(); track book.id) {
            <div class="book-item border p-3 mb-2  gap-3 flex flex-row justify-between h-auto">
                <div>
                    <h3 class="max-w-50">{{ book.title }}</h3>
                    <p>{{ book.author }}</p>
                </div>
                @if (!hasFailedImage(book.isbn)) {
                <figure>
                    <img [src]="getImageUrl(book.isbn)" alt="{{ book.title }}" loading="lazy"
                        (error)="onImageError(book.isbn)" (abort)="onImageError(book.isbn)" />
                </figure>
                }
            </div>
            }
        </div>
        }
    </div>

    <app-navigation [page]="page()" [perPage]="perPage()" [listLength]="totalBooks()" [canGoPrevious]="canGoPrevious()"
        [canGoNext]="canGoNext()" (pageChange)="onPageChange($event)">
    </app-navigation>

    <footer class="footer p-5 text-center">
        <a href="https://openlibrary.org/" target="_blank" rel="noopener noreferrer">
            Book cover images provided by Open Library
        </a>
    </footer>
</section>