<section class="bookshelf-layout">
    <div class="flex items-center justify-center gap-3 mb-4">
        <app-search [searchTerm]="searchTerm()" (search)="onSearch($event)"></app-search>
        <button type="button" class="add-book" (click)="showAddModal.set(true)">
            Add Book
        </button>
    </div>
    <div class="books-container mt-5">
        @if (loading()) {
        <p class="text-center">Loading books...</p>
        } @else if (books().length === 0) {
        <p class="text-center text-gray-500">No books found</p>
        } @else {
        <div class="books-list">
            @for (book of books(); track book.id) {
            <div class="book-item border p-3 mb-2  gap-3 flex flex-row justify-between h-auto">
                <div>
                    <h3 class="max-w-50">{{ book.title }}</h3>
                    <p>{{ book.author }}</p>
                </div>
                @if (!hasFailedImage(book.isbn)) {
                <figure>
                    <img [src]="getImageUrl(book.isbn)" alt="{{ book.title }}" loading="lazy"
                        (error)="onImageError(book.isbn)" (abort)="onImageError(book.isbn)" />
                </figure>
                }
            </div>
            }
        </div>
        }
    </div>

    <app-navigation [page]="page()" [perPage]="perPage()" [listLength]="totalBooks()" [canGoPrevious]="canGoPrevious()"
        [canGoNext]="canGoNext()" (pageChange)="onPageChange($event)">
    </app-navigation>

    <app-add [isOpen]="showAddModal()" (close)="showAddModal.set(false)" (save)="onAddBook($event)"></app-add>

    <footer class="footer p-5 text-center">
        <a href="https://openlibrary.org/" target="_blank" rel="noopener noreferrer">
            Book cover images provided by Open Library
        </a>
    </footer>
</section>